.App {
  background-color: #0e0220;
  text-align: center;
  padding: 0;
  margin: 0;
}

@keyframes highlight {
  0% {
      background: red; 
  }
  100% {
      background: none;
  }
}

.Appglow {
  animation: highlight 0.5s;
}
